<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catering-Craft | Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
</head>

<body>
    <h1>welcome to Catering Craft</h1>
    <a href="/signup">
        Sign-up
    </a>
    <a href="/login">
        Login
    </a>

</html>