<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Welcome</title>
</head>
<body>
    <h1>welcome user. this is home page</h1>
    <nav>
        <ul>
            <li><a href="/user/home">Home</a></li>
            <li><a href="/user/order">Order</a></li>
            <li><a href="/user/cart">Food Cart</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/orderhistory">Order History</a></li>
            <li><a href="/user/suggestorder">Suggest me Order</a></li>
        </ul>
    </nav>

    <div class="cuisine-links">
        <a href="/user/displaycategory/jain" class="cuisine-box">Jain</a>
        <a href="/user/displaycategory/chinese" class="cuisine-box">Chinese</a>
        <a href="/user/displaycategory/punjabi" class="cuisine-box">Punjabi</a>
        <a href="/user/displaycategory/southindian" class="cuisine-box">South Indian</a>
        <a href="/user/displaycategory/gujarati" class="cuisine-box">Gujarati</a>
        <a href="/user/displaycategory/indian" class="cuisine-box">Indian</a>
        <a href="/user/displaycategory/continental" class="cuisine-box">Continental</a>
    </div>
    
</body>
</html>