<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Welcome</title>
</head>
<body>
    <h1>welcome user. this is home page</h1>
    <nav>
        <ul>
            <li><a href="/user/home">Home</a></li>
            <li><a href="/user/order">Order</a></li>
            <li><a href="/user/cart">Food Cart</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/orderhistory">Order History</a></li>
        </ul>
    </nav>
</body>
</html>